body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*text-align: center;*/
    font-size: 14px;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}

.side-nav {
    background: #E53935;
}

.side-nav li>a {
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
}

.side-nav li>a>i.material-icons {
    color: #ffffff;
}

table.historique>tbody>tr:nth-child(2n+1) {
    background-color: #f2f2f2;
}

#historiqueTitle {
    border-bottom: 1px solid grey;
    padding-bottom: 3%;
}

.titleNoms {
    width: 35%;
    /*padding-left: 5%;*/
}

#ajoutTitle {
    margin-top: 3%;
}


/*h4 {
    text-align: center;

}*/