{% extends "layout.twig" %}

{% block title %} addPompier {% endblock%}
{% block content %}
<style>


	/*.rTable {
		display: block;
		width: 100%;
	}
	.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
		clear: both;
	}
	.rTableHead, .rTableFoot{
		background-color: #DDD;
		font-weight: bold;
	}
	.rTableCell, .rTableHead {
		border: 1px solid #999999;
		float: left;
		height: 37px;
		overflow: hidden;
		padding: 3px 1.8%;
		width: 20%;
	}
	.rTable:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	.titre{
		width: 80%;
	}*/
	.tableNoms{
		width: 15%;
	}


</style>

<h4>Ajouter ou modifier un pompier</h4>

<table class="striped">
	<thead>
		<tr>
			<th class="tableNoms"></th>

			<th></th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th class="tableNoms">Noms</th>
			
			<th>C1</th>
			<th>C2</th>
			<th>C3</th>
			<th>C4</th>
			<th>C5</th>
			<th>C6</th>
			<th>C7</th>
			<th>C8</th>
			<th>C9</th>
			<th>C10</th>
			<th>C11</th>
			<th>C12</th>
			<th style="padding-left: 2%;">Modifier</th>
			<th style="padding-left: 2%;">Supprimer</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="tableNoms">Clément</td>

			<td><input type="checkbox" id="cbox1a1" value="checkbox"><label for="cbox1a1" >
			</label></td>
			<td><input type="checkbox" id="cbox2a1" value="checkbox"><label for="cbox2a1">
			</label></td>
			<td><input type="checkbox" id="cbox3a1" value="checkbox"><label for="cbox3a1">
			</label></td>
			<td><input type="checkbox" id="cbox4a1" value="checkbox"><label for="cbox4a1">
			</label></td>
			<td><input type="checkbox" id="cbox5a1" value="checkbox"><label for="cbox5a1">
			</label></td>
			<td><input type="checkbox" id="cbox6a1" value="checkbox"><label for="cbox6a1">
			</label></td>
			<td><input type="checkbox" id="cbox7a1" value="checkbox"><label for="cbox7a1">
			</label></td>
			<td><input type="checkbox" id="cbox8a1" value="checkbox"><label for="cbox8a1">
			</label></td>
			<td><input type="checkbox" id="cbox9a1" value="checkbox"><label for="cbox9a1">
			</label></td>
			<td><input type="checkbox" id="cbox10a1" value="checkbox"><label for="cbox10a1">
			</label></td>
			<td><input type="checkbox" id="cbox11a1" value="checkbox"><label for="cbox11a1">
			</label></td>
			<td><input type="checkbox" id="cbox12a1" value="checkbox"><label for="cbox12a1">
			</label></td>
			<td><button class="waves-effect waves-light btn">Modif</button></td>
			<td><button class="waves-effect red darken-1 btn" >Suppr</button></td>
		</tr>

		<tr>
			<td class="tableNoms">Julien</td>

			<td><input type="checkbox" id="cbox1a1" value="checkbox"><label for="cbox1a1">
			</label></td>
			<td><input type="checkbox" id="cbox2a1" value="checkbox"><label for="cbox2a1">
			</label></td>
			<td><input type="checkbox" id="cbox3a1" value="checkbox"><label for="cbox3a1">
			</label></td>
			<td><input type="checkbox" id="cbox4a1" value="checkbox"><label for="cbox4a1">
			</label></td>
			<td><input type="checkbox" id="cbox5a1" value="checkbox"><label for="cbox5a1">
			</label></td>
			<td><input type="checkbox" id="cbox6a1" value="checkbox"><label for="cbox6a1">
			</label></td>
			<td><input type="checkbox" id="cbox7a1" value="checkbox"><label for="cbox7a1">
			</label></td>
			<td><input type="checkbox" id="cbox8a1" value="checkbox"><label for="cbox8a1">
			</label></td>
			<td><input type="checkbox" id="cbox9a1" value="checkbox"><label for="cbox9a1">
			</label></td>
			<td><input type="checkbox" id="cbox10a1" value="checkbox"><label for="cbox10a1">
			</label></td>
			<td><input type="checkbox" id="cbox11a1" value="checkbox"><label for="cbox11a1">
			</label></td>
			<td><input type="checkbox" id="cbox12a1" value="checkbox"><label for="cbox12a1">
			</label></td>
			<td><button class="waves-effect waves-light btn">Modif</button></td>
			<td><button class="waves-effect red darken-1 btn" >Suppr</button></td>
</tr>

<tr>
	<td class="tableNoms">Cédric the best</td>

	<td><input type="checkbox" id="cbox1a1" value="checkbox"><label for="cbox1a1">
	</label></td>
	<td><input type="checkbox" id="cbox2a1" value="checkbox"><label for="cbox2a1">
	</label></td>
	<td><input type="checkbox" id="cbox3a1" value="checkbox"><label for="cbox3a1">
	</label></td>
	<td><input type="checkbox" id="cbox4a1" value="checkbox"><label for="cbox4a1">
	</label></td>
	<td><input type="checkbox" id="cbox5a1" value="checkbox"><label for="cbox5a1">
	</label></td>
	<td><input type="checkbox" id="cbox6a1" value="checkbox"><label for="cbox6a1">
	</label></td>
	<td><input type="checkbox" id="cbox7a1" value="checkbox"><label for="cbox7a1">
	</label></td>
	<td><input type="checkbox" id="cbox8a1" value="checkbox"><label for="cbox8a1">
	</label></td>
	<td><input type="checkbox" id="cbox9a1" value="checkbox"><label for="cbox9a1">
	</label></td>
	<td><input type="checkbox" id="cbox10a1" value="checkbox"><label for="cbox10a1">
	</label></td>
	<td><input type="checkbox" id="cbox11a1" value="checkbox"><label for="cbox11a1">
	</label></td>
	<td><input type="checkbox" id="cbox12a1" value="checkbox"><label for="cbox12a1">
	</label></td>
	<td><button class="waves-effect waves-light btn">Modif</button></td>
	<td><button class="waves-effect red darken-1 btn" >Suppr</button></td>
</tr>
</tbody>
</table>


{% endblock %}