{% extends "layout.twig" %}

{% block title %} Ajout/modif pompier {% endblock %}
{% block content %}
<h4>Modifier un pompier</h4>
	<table class="striped">
		<thead>
			<tr>
				<th class="titleNoms">Noms</th>
				<th>C1</th>
				<th>C2</th>
				<th>C3</th>
				<th>C4</th>
				<th>C5</th>
				<th>C6</th>
				<th>C7</th>
				<th>C8</th>
				<th>C9</th>
				<th>C10</th>
				<th>C11</th>
				<th>C12</th>
				<th style="padding-left: 2%;">Modifier</th>
				<th style="padding-left: 2%;">Supprimer</th>
			</tr>
		</thead>
		<tbody id="pompier">
			<tr>
				<td class="tableNoms"><span id="prenom">Clement</span> <span id="nom">Monin</span></td>
				<td><input type="checkbox" id="cbox1a1" value="checkbox"><label for="cbox1a1" >
				</label></td>
				<td><input type="checkbox" id="cbox2a1" value="checkbox"><label for="cbox2a1">
				</label></td>
				<td><input type="checkbox" id="cbox3a1" value="checkbox"><label for="cbox3a1">
				</label></td>
				<td><input type="checkbox" id="cbox4a1" value="checkbox"><label for="cbox4a1">
				</label></td>
				<td><input type="checkbox" id="cbox5a1" value="checkbox"><label for="cbox5a1">
				</label></td>
				<td><input type="checkbox" id="cbox6a1" value="checkbox"><label for="cbox6a1">
				</label></td>
				<td><input type="checkbox" id="cbox7a1" value="checkbox"><label for="cbox7a1">
				</label></td>
				<td><input type="checkbox" id="cbox8a1" value="checkbox"><label for="cbox8a1">
				</label></td>
				<td><input type="checkbox" id="cbox9a1" value="checkbox"><label for="cbox9a1">
				</label></td>
				<td><input type="checkbox" id="cbox10a1" value="checkbox"><label for="cbox10a1">
				</label></td>
				<td><input type="checkbox" id="cbox11a1" value="checkbox"><label for="cbox11a1">
				</label></td>
				<td><input type="checkbox" id="cbox12a1" value="checkbox"><label for="cbox12a1">
				</label></td>
				<td><button id="modifier" class="waves-effect waves-light btn">Modif</button></td>
				<td><button id="supprimer" class="waves-effect red darken-1 btn" >Suppr</button></td>
			</tr>
			<tr>
				<td class="tableNoms"><span id="prenom">Clément</span> <span id="nom">Monin</span></td>
				<td><input type="checkbox" id="cbox1a2" value="checkbox"><label for="cbox1a2">
				</label></td>
				<td><input type="checkbox" id="cbox2a2" value="checkbox"><label for="cbox2a2">
				</label></td>
				<td><input type="checkbox" id="cbox3a2" value="checkbox"><label for="cbox3a2">
				</label></td>
				<td><input type="checkbox" id="cbox4a2" value="checkbox"><label for="cbox4a2">
				</label></td>
				<td><input type="checkbox" id="cbox5a2" value="checkbox"><label for="cbox5a2">
				</label></td>
				<td><input type="checkbox" id="cbox6a2" value="checkbox"><label for="cbox6a2">
				</label></td>
				<td><input type="checkbox" id="cbox7a2" value="checkbox"><label for="cbox7a2">
				</label></td>
				<td><input type="checkbox" id="cbox8a2" value="checkbox"><label for="cbox8a2">
				</label></td>
				<td><input type="checkbox" id="cbox9a2" value="checkbox"><label for="cbox9a2">
				</label></td>
				<td><input type="checkbox" id="cbox10a2" value="checkbox"><label for="cbox10a2">
				</label></td>
				<td><input type="checkbox" id="cbox11a2" value="checkbox"><label for="cbox11a2">
				</label></td>
				<td><input type="checkbox" id="cbox12a2" value="checkbox"><label for="cbox12a2">
				</label></td>
				<td><button id="modifier" class="waves-effect waves-light btn">Modif</button></td>
				<td><button id="supprimer" class="waves-effect red darken-1 btn" >Suppr</button></td>
			</tr>
			<tr>
				<td class="tableNoms"><span id="prenom">Clément</span> <span id="nom">Monin</span></td>
				<td><input type="checkbox" id="cbox1a3" value="checkbox"><label for="cbox1a3">
				</label></td>
				<td><input type="checkbox" id="cbox2a3" value="checkbox"><label for="cbox2a3">
				</label></td>
				<td><input type="checkbox" id="cbox3a3" value="checkbox"><label for="cbox3a3">
				</label></td>
				<td><input type="checkbox" id="cbox4a3" value="checkbox"><label for="cbox4a3">
				</label></td>
				<td><input type="checkbox" id="cbox5a3" value="checkbox"><label for="cbox5a3">
				</label></td>
				<td><input type="checkbox" id="cbox6a3" value="checkbox"><label for="cbox6a3">
				</label></td>
				<td><input type="checkbox" id="cbox7a3" value="checkbox"><label for="cbox7a3">
				</label></td>
				<td><input type="checkbox" id="cbox8a3" value="checkbox"><label for="cbox8a3">
				</label></td>
				<td><input type="checkbox" id="cbox9a3" value="checkbox"><label for="cbox9a3">
				</label></td>
				<td><input type="checkbox" id="cbox10a3" value="checkbox"><label for="cbox10a3">
				</label></td>
				<td><input type="checkbox" id="cbox11a3" value="checkbox"><label for="cbox11a3">
				</label></td>
				<td><input type="checkbox" id="cbox12a3" value="checkbox"><label for="cbox12a3">
				</label></td>
				<td><button id="modifier" class="waves-effect waves-light btn">Modif</button></td>
				<td><button id="supprimer" class="waves-effect red darken-1 btn" >Suppr</button></td>
			</tr>
		</tbody>
	</table>
<div id="ajoutPompier">
	<h4 id="ajoutTitle">Ajouter un pompier</h4>
	<table class="striped">				
		<thead>
			<tr>
				<th class="titleNoms">Noms/Matricule</th>
				<th>C1</th>
				<th>C2</th>
				<th>C3</th>
				<th>C4</th>
				<th>C5</th>
				<th>C6</th>
				<th>C7</th>
				<th>C8</th>
				<th>C9</th>
				<th>C10</th>
				<th>C11</th>
				<th>C12</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="tableNoms col s12"><input placeholder="Nom" id="ajoutNom" type="text" class="validate col s3"><input placeholder="Prénon" id="ajoutPrenom" type="text" class="validate col s3 offset-s1"><input placeholder="Matricule" id="ajoutMatricule" type="text" class="validate col s3 offset-s1"></td>
				<td><input type="checkbox" id="cbox1b1" value="cbox1b1"><label for="cbox1b1" ></label></td>
				<td><input type="checkbox" id="cbox2b1" value="cbox2b1"><label for="cbox2b1"></label></td>
				<td><input type="checkbox" id="cbox3b1" value="cbox3b1"><label for="cbox3b1"></label></td>
				<td><input type="checkbox" id="cbox4b1" value="cbox4b1"><label for="cbox4b1"></label></td>
				<td><input type="checkbox" id="cbox5b1" value="cbox5b1"><label for="cbox5b1"></label></td>
				<td><input type="checkbox" id="cbox6b1" value="cbox6b1"><label for="cbox6b1"></label></td>
				<td><input type="checkbox" id="cbox7b1" value="cbox7b1"><label for="cbox7b1"></label></td>
				<td><input type="checkbox" id="cbox8b1" value="cbox8b1"><label for="cbox8b1"></label></td>
				<td><input type="checkbox" id="cbox9b1" value="cbox9b1"><label for="cbox9b1"></label></td>
				<td><input type="checkbox" id="cbox10b1" value="cbox10b1"><label for="cbox10b1"></label></td>
				<td><input type="checkbox" id="cbox11b1" value="cbox11b1"><label for="cbox11b1"></label></td>
				<td><input type="checkbox" id="cbox12b1" value="cbox12b1"><label for="cbox12b1"></label></td>
				<td><button class="waves-effect waves-light btn" id="addButton">Ajouter</button></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}