{% extends "layout.twig" %}

{% block title %} Historique {% endblock %}
{% block content %}
<style type="text/css">
	
table.historique>tbody>tr:nth-child(2n+1) {
    background-color: #f2f2f2;
}
#historiqueTitle{
	border-bottom: 1px solid grey;
	padding-bottom: 3%;
}
	
</style>
<div class="center-align" id="historiqueTitle">
   <h4>Historique</h4>	
</div>


   <table class="col s12 historique">
   	<thead>
   		<tr>
   			<th class="center-align">Noms</th>
   			<th class="center-align">Présent</th>
   			<th class="center-align">Début/Fin d'inter</th>
   		</tr>
   	</thead>
	<tbody>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
		<tr>
			<td class="center-align">Alain Deloin</td>
			<td class="center-align">13/03/17 à 13h30</td>
			<td class="center-align">De 9h35 à 10h20</td>
		</tr>
	</tbody>
   </table>
{% endblock %}