<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>Gestion pompiers</h1>
        <div>
        Pour les sacrifices qu'ils acceptent<br/>
        Ou les risques qu'ils prennent<br/>
        Même si les éléments se déchainent<br/>
        Pros, militaires et volontaires<br/>
        Ici ou là, par un altruisme exemplaire<br/>
        Emploient et dépensent toutes leur énergie<br/>
        Rien n'importe plus, pour eux, que la vie<br/>
        Sincèrement pour tout cela<br/>
        <h6>Merci</h6>
            






        </div>
    </body>
</html>
        
