{% extends "layout.twig" %}

{% block title %} home {% endblock %}
{% block content %}
<style type="text/css">
          h2{
            text-align: center;
          }  
          h4{
            margin-left: 400px;
            
          }
          h4:first-letter{
            color : red;
          }
          h5{
            text-align: center;
          }



        </style>

        <h2>Gestion pompiers</h2>
        <div>
            <h4>Pour les sacrifices qu'ils acceptent</h4>
            <h4>Ou les risques qu'ils prennent</h4>
            <h4>Même si les éléments se déchainent</h4>
            <h4>Pros, militaires et volontaires</h4>
            <h4>Ici ou là, par un altruisme exemplaire</h4>
            <h4>Emploient et dépensent toutes leur énergie</h4>
            <h4>Rien n'importe plus, pour eux, que la vie</h4>
            <h4>Sincèrement pour tout cela</h4><br/>
            <h5>Merci</h5>
        </div>
{% endblock %}
        
