{% extends "layout.twig" %}

{% block title %} Présences {% endblock %}
{% block content2 %}

<div class="row">
    <div class="card col l10  s12 offset-l2">
        <div class="card-content algn center">
            <div class="row valign-wrapper">
                <div class="col l12" id="creationInter">
                    <form id="createRoom">
                        <div id="placeInter" class="col l4 valign-wrapper right-align">
                            <span class="col l3 valign-wrapper">Places :</span>
                            <label for="placeRoom"></label>
                            <input type="text" name="placeRoom" id="placeRoom" placeholder="N° de places / inter" class="validate col s6">
                        </div>
                        <div class="input-field col l3 ">
                            <select>
                                <option value="" disabled selected>Vehicule</option>
                                <option value="1">Vsab1</option>
                                <option value="2">Vsav1</option>
                                <option value="3">camion echelle</option>
                            </select>
                        </div>
                        <div class="col l4 offset-l1 valign-center">
                            <input type="submit" class="waves-effect waves-light btn" value="Envoi inter">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxx   card   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="card col l5  m12 s12 offset-l2 ">
    <div class="card-content">
        <div class="col l4 s6 m4 offset-l1-m2 valign-center">
            <input type="button" class="waves-effect waves-light btn" value="Inter">
        </div>
        <div class="col l4 s6 m4 offset-l1-m2 valign-center">
            <input type="button" class="waves-effect red btn" value="Fin inter">
        </div>
        <div class="col l12 m12 s12">
            <div class="row">
                <table class="striped">
                    <thead>
                        <tr>
                            <th >Noms</th>
                            <th  class="floatRightP">P</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >Alvin</td>
                            <td class="floatRight">
                                <input type="checkbox" id="presence1" />
                                <label for="presence1"></label>
                            </td>
                        </tr>
                        <tr>
                            <td >Alvin zerfg</td>
                            <td class="floatRight">
                                <input type="checkbox" id="test4" />
                                <label for="test4"></label>
                            </td>
                        </tr>
                        <tr>
                            <td >Alvin</td>
                            <td class="floatRight">
                                <input type="checkbox" id="test7" />
                                <label for="test7"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxx   card   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="card col l5  m12 s12 ">
    <div class="card-content">
        <div class="col l4 s6 m4 offset-l1-m2 valign-center">
            <input type="button" class="waves-effect waves-light btn" value="Inter">
        </div>
        <div class="col l4 s6 m4 offset-l1-m2 valign-center">
            <input type="button" class="waves-effect red btn" value="Fin inter">
        </div>
        <div class="col l12 m12 s12">
            <div class="row">
                <table class="striped">
                    <thead>
                        <tr>
                            <th >Noms</th>
                            <th  class="floatRightP">P</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >Alvin lePompier</td>
                            <td class="floatRight">
                                <input type="checkbox" id="presence1" />
                                <label for="presence1"></label>
                            </td>
                        </tr>
                        <tr>
                            <td >Alvin lePompier</td>
                            <td class="floatRight">
                                <input type="checkbox" id="test4" />
                                <label for="test4"></label>
                            </td>
                        </tr>
                        <tr>
                            <td >Alvin lePompier</td>
                            <td class="floatRight">
                                <input type="checkbox" id="test7" />
                                <label for="test7"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- xxxxxxxxxxxxxxxxxxxxxxxx   card   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="card col l5  m12 s12  offset-l2">
    <div class="card-content">
        <div class="col l4 s6 m4 offset-l1-m2 valign-center">
            <input type="button" class="waves-effect waves-light btn" value="Inter">
        </div>
        <div class="col l4 s6 m4 offset-l1-m2 valign-center">
            <input type="button" class="waves-effect red btn" value="Fin inter">
        </div>
        <div class="col l12 m12 s12">
            <div class="row">
                <table class="striped">
                    <thead>
                        <tr>
                            <th >Noms</th>
                            <th class="floatRightP">P </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >Alvin lePompier</td>
                            <td class="floatRight">
                                <input type="checkbox" id="presence1" />
                                <label for="presence1"></label>
                            </td>
                        </tr>
                        <tr>
                            <td >Alvin lePompier</td>
                            <td class="floatRight">
                                <input type="checkbox" id="test4" />
                                <label for="test4"></label>
                            </td>
                        </tr>
                        <tr>
                            <td >Alvin lePompier</td>
                            <td class="floatRight">
                                <input type="checkbox" id="test7" />
                                <label for="test7"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxx   card   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="card col l5 m12 s12 ">
    <div class="card-content">
        <div class="col l4 s6 m4 offset-l1-m2 valign-center">
            <input type="button" class="waves-effect waves-light btn" value="Inter">
        </div>
        <div class="col l4 s6 m4 offset-l1-m2 valign-center">
            <input type="button" class="waves-effect red btn" value="Fin inter">
        </div>
        <div class="col l12 m12 s12">
            <div class="row">
                <table class="striped">
                    <thead>
                        <tr>
                            <th >Noms</th>
                            <th class="floatRightP" >P</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >Alvin lePompier</td>
                            <td class="floatRight">
                                <input type="checkbox" id="presence1" />
                                <label for="presence1"></label>
                            </td>
                        </tr>
                        <tr>
                            <td >Alvin lePompier</td>
                            <td class="floatRight">
                                <input type="checkbox" id="test4" />
                                <label for="test4"></label>
                            </td>
                        </tr>
                        <tr>
                            <td >Alvin lePompier</td>
                            <td class="floatRight">
                                <input type="checkbox" id="test7" />
                                <label for="test7"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
