{% extends "layout.twig" %}

{% block title %} Présences {% endblock %}
{% block content %}
    <div class="col s8">
        <div class="row">
            <table class="striped">
                <thead>
                    <tr>
                        <th style="color: #010101;">Nom/Matricule</th>
                        <th style="color: #010101;">P</th>
                        <th style="color: #010101;">I</th>
                        <th style="color: #010101;">FI</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td style="color: #010101;">Alvin lePompier</td>
                        <td>
                            <input type="checkbox" id="test1" />
                            <label for="test1"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="test2" />
                            <label for="test2"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="test3" />
                            <label for="test3"></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #010101;">Alvin lePompier</td>
                        <td>
                            <input type="checkbox" id="test4" />
                            <label for="test4"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="test5" />
                            <label for="test5"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="test6" />
                            <label for="test6"></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #010101;">Alvin lePompier</td>
                        <td>
                            <input type="checkbox" id="test7" />
                            <label for="test7"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="test8" />
                            <label for="test8"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="test9" />
                            <label for="test9"></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s3 offset-s1">
        <div class="row" style="margin-top: 25%">
            <div><p style="color: #010101;">Légende:</p></div>
            <div> <span style="color: #008800;">P : Pompier présent</span></div>
            <div> <span style="color: #ff0000">I : Pompier en cours d'intervention</span></div>
            <span style="color: #c0C0C0">FI : Fin d'intervention du pompier</span> 
        </div>
    </div>
{% endblock %}
